// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#big-cancel {
  display: none;
}

#big-delete, #toggle-delete {
  display:none;
}

#big-upload {
  display:none;
}

#button-container{
  margin: 0 auto;
  float:none;
}

.drop {
  display:none;
}

#pop-overlay {
  z-index:0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#dragpop {
  display:none;
  z-index:1;
}

.draging {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background-color: black;
}
button, a, input, .btn {
  z-index: 5;
  position:relative;
}